ipython>=8.10
jupyterlab>=3.0
notebook
kedro[jupyter]~=1.2.0
notebook==7.5.5
kedro-datasets==9.2.0
kedro-viz==12.3.0
pandas==3.0.1
matplotlib==3.10.3
numpy==2.3.1
scipy==1.16.0
statsmodels==0.14.5
pyarrow==23.0.1
pytest~=7.2
pytest-cov>=3,<7
pytest-mock>=1.7.1,<2.0
ruff~=0.12.0
